extends layout

block content
  h1= title
  if user.username
    p
      a(href="/profile") Profile
      a(href="/logout") Logout
    p Welcome <b>#{user.username}</b>
  else
    a(href="/login") Login
